@model TaskManager.Data.models.PeopleWhoCanHelp

@{
    ViewBag.Title = "DetailsContact";
}

<h2>Details contact</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditContact", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Overview")
</p>
